<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todos</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <img src="img/logo.png" />
        <h1>Todo List</h1>
    </header>
    <ul>
        <% todos.forEach(function(todo){ %>
        <li>
            <span class="<%=(todo.completed)? 'done' : '' %>">
                <%=todo.txt %>
            </span>
            <a href="/todo/<%=todo.id%>">Details</a> | 
            <a href="/todo/edit/<%=todo.id%>">Edit</a> | 
            <a href="/todo/delete/<%=todo.id%>">Delete</a>
        </li>
        <% }); %>
    </ul>
    
    <a href="/todo/edit">Add Todo</a>
</body>

</html>